<section style="margin-top: 5%">
    <div class="container">
        <div class="row">

            <div class="col-lg-offset-2 col-lg-6">

                <div>
                    <div class="sectionTitle">Colaboradores</div>
                    <br/><br/>
                    <p><strong> Mão 3D: </strong> <a href="https://mao3d.wordpress.com/" target="_blank"> https://mao3d.wordpress.com/</a>                        </p>
                    <p>Uma rede de apoio a pais, familiares e crianças, adolescentes e indivíduos com agenesia, afetados pela
                        Síndrome da Brida Amniótica ou outras condições congênitas e doenças raras que causam malformação
                        ou ausência de membros. </p>
                    <p>Contatos:</p>
                    <p>E-mail: <a href="mailto:associacaodaramao@gmail.com"> associacaodaramao@gmail.com</a></p>
                    <p>Página no Facebook:<a href="http://www.facebook.com/associacaodaramao"  target="_blank"> www.facebook.com/associacaodaramao </a></p>
                    <br>
                    <p><strong>Associação dar a Mão: </strong> <a href="http://associacaodaramao.blogspot.com.br/" target="_blank"> http://associacaodaramao.blogspot.com.br/</a>                        </p>
                    <p>Uma extensão universitária desenvolvido no Instituto de Ciência e Tecnologia da Universidade Federal
                        de São Paulo (ICT-UNIFESP) em São José dos Campo com o objetivo de fornecer próteses para crianças
                        no Vale do Paraíba.

                    </p>
                    <p>Contatos:</p>
                    <p>E-mail: <a href="mailto:mao3d.unifesp@gmail.com"> mao3d.unifesp@gmail.com</a></p>
                    <p>Página no Facebook:<a href="https://www.facebook.com/Mao3D/"  target="_blank"> www.facebook.com/Mao3D/ </a></p>
                    <br/><br/>

                    <div class="sectionTitle">Projetos</div>
                    <br/><br/>
                    <p><strong>Handy Hand: </strong> <a href="http://www.handyhand.com.br/" target="_blank"> http://www.handyhand.com.br/</a>                        </p>
                    <p>O Projeto Handyhand produz e entrega gratuitamente as próteses baseadas nos projetos da e-Nable </p>
                    <p>Página no Facebook:<a href="https://www.facebook.com/handyhandbr/?hc_ref=SEARCH"  target="_blank"> https://www.facebook.com/handyhandbr/ </a></p>
                    <br>
                    <p><strong>Projetos Mãos Dadas: </strong> <a href="https://www.projetomaosdadas.org/" target="_blank"> https://www.projetomaosdadas.org/</a>                        </p>
                    <p>"Mãos Dadas" é um projeto voluntário com o objetivo de criar e distribuir próteses funcionais de maneira econômica e sustentável para crianças e adultos que precisam de uma mão. </p>
                    <p>Página no Facebook:<a href="https://www.facebook.com/projetomaosdadas.org/"  target="_blank"> https://www.facebook.com/projetomaosdadas.org/ </a></p>
                </div>
                    <br/><br/>
                
            </div>
        </div>
    </div>
</section>
</script>